.App {
  text-align: center;
  width: 1440px;
  height: 915px;
  top: 663px;
  left: -800px;
  gap: 0px;
  opacity: 0px;

}

/* src/App.css */

@font-face {
  font-family: 'Star Jedi';
  src: local('Star Jedi'), url('/public/Starjhol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Star Jedi', sans-serif;
}


